/*

# keep track
!/.config
/.config/*
!/.config/fish
!/.config/nvim
!/.config/starship.toml
!/.config/topgrade.toml

!/.gitignore
!/.gitmodules

!/.local
/.local/*
!/.local/bin
!/.local/share
/.local/share/*
!/.local/share/fonts
/.local/share/fonts/*
!/.local/share/fonts/nerd-fonts
!/.local/share/gnome-background-properties

!/Pictures
/Pictures/*
!/Pictures/Backgrounds
!/Pictures/profile-picture.png
!/Pictures/profile-picture_small.png
!/Pictures/profile-picture_very-small.png

!/README.md

!/Templates

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
